h1{
  text-align: center;
  background-img: linear-gradient (blue, red)
}

  h2{
  text-align: center;
}

body{
  background-color: #abdbe3;
}

.insta{
    position: fixed;
    top: 400 px;
    right: 45 px;
}

.facebook{
        position: fixed;
    top: 350 px;
    right: 45 px;

}


